{% extends 'modelo.html' %}

{% block titulo %}
    <title>Cadastrar Produto</title>
{% endblock %}

{% block conteudo %}
<div class="container mt-4 tabela-container">
    <!-- Título Principal -->
    <h2 class="titulo-principal text-center mb-4">Cadastrar Produto</h2>

    <!-- Formulário de Cadastro -->
    <form method="POST" class="p-4 rounded shadow-lg" style="background-color: #ffffff;">
        {% csrf_token %}

        <!-- Nome -->
        <div class="form-group mb-4">
            <label for="id_nome" class="form-label fw-bold text-secondary">Nome:</label>
            <input 
                type="text" 
                class="form-control border border-secondary" 
                id="id_nome" 
                name="nome" 
                placeholder="Digite o nome do produto" 
                required>
        </div>

        <!-- Categoria -->
        <div class="form-group mb-4">
            <label for="id_categoria" class="form-label fw-bold text-secondary">Categoria:</label>
            <select 
                name="categoria" 
                id="id_categoria" 
                class="form-control border border-secondary" 
                required>
                <option value="" disabled selected>Selecione uma categoria</option>
                <option value="Frutas">Frutas</option>
                <option value="Verduras e Legumes">Verduras e Legumes</option>
                <option value="Carnes">Carnes</option>
                <option value="Laticínios">Laticínios</option>
                <option value="Grãos e Cereais">Grãos e Cereais</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Outros">Outros</option>
            </select>
        </div>

        <!-- Quantidade -->
        <div class="form-group mb-4">
            <label for="id_quantidade" class="form-label fw-bold text-secondary">Quantidade:</label>
            <input 
                type="number" 
                class="form-control border border-secondary" 
                id="id_quantidade" 
                name="quantidade" 
                placeholder="Digite a quantidade" 
                required>
        </div>

        <!-- Data de Validade -->
        <div class="form-group mb-4">
            <label for="id_data_validade" class="form-label fw-bold text-secondary">Data de Validade:</label>
            <input 
                type="date" 
                class="form-control border border-secondary" 
                id="id_data_validade" 
                name="data_validade" 
                required>
        </div>

        <!-- Botão de Envio -->
        <div class="text-center">
            <button type="submit" class="btn btn-success px-4 py-2 fw-bold">Cadastrar Produto</button>
        </div>
    </form>
</div>
{% endblock %}